Repository ashwch/auto-uv-env: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, validate-shell-integrations, validate-fish-syntax, security-patterns, version-consistency

check-todos:
  name: Check for unresolved TODOs
  entry: bash -c 'if grep -n "TODO\|FIXME\|HACK" auto-uv-env; then echo "Please resolve TODOs before committing"; exit 1; fi'
  language: system
  pass_filenames: false

validate-shell-integrations:
  name: Validate shell integration syntax
  entry: bash -c 'for file in share/auto-uv-env/*.{bash,zsh}; do bash -n "$file" || exit 1; done'
  language: system
  pass_filenames: false

validate-fish-syntax:
  name: Validate Fish shell syntax
  entry: bash -c 'if command -v fish >/dev/null; then fish -n share/auto-uv-env/auto-uv-env.fish; else echo "Fish not available, skipping syntax check"; fi'
  language: system
  pass_filenames: false

security-patterns:
  name: Check for dangerous security patterns
  entry: bash -c 'if grep -n "eval.*\$[^_]" auto-uv-env share/auto-uv-env/*; then echo "Dangerous eval pattern found"; exit 1; fi'
  language: system
  pass_filenames: false

version-consistency:
  name: Check version consistency across all files
  entry: ./scripts/check-version-consistency.sh
  language: script
  pass_filenames: false

CI: Exclude auto-uv-env.zsh from direct shellcheck in CI
  .github/workflows/ci.yml
Due: none

Fix: Ensure auto-uv-env is in PATH for shell integration tests
  test/test-shell-integrations.sh
Due: none

Fix: Ensure auto-uv-env is in PATH for comprehensive tests
  test/test.sh
Due: none

Fix: Correct syntax error in auto-uv-env.bash
  share/auto-uv-env/auto-uv-env.bash
  share/auto-uv-env/auto-uv-env.zsh
Due: validate-shell-integrations, security-patterns

Fix: Prevent broken pipe error in --version output
  auto-uv-env
Due: check-todos, security-patterns, version-consistency

Fix: Update brew audit command to use formula name
  auto-uv-env
  scripts/release.sh
Due: check-todos, security-patterns, version-consistency

Fix: Update CI workflow brew audit command
  .github/workflows/ci.yml
Due: none

Add GitHub Pages documentation
  .github/workflows/docs.yml
  docs/Gemfile
  docs/_config.yml
  docs/contributing.md
  docs/index.md
  docs/installation.md
  docs/usage.md
Due: none

Update Jekyll config for custom domain
  docs/_config.yml
Due: none

Update Jekyll config for custom domain path
  docs/_config.yml
Due: none

Fix Jekyll config for GitHub Pages default URL
  docs/_config.yml
Due: none

Configure Jekyll for subdomain
  docs/_config.yml
Due: none

Fix GitHub Pages deployment for custom domain
  .github/workflows/docs.yml
  docs/CNAME
Due: none

Fix GitHub Pages 404 error
  .github/workflows/docs.yml
  docs/index.md
Due: none

Transform documentation site with custom theme
  docs/Gemfile.lock
  docs/_config.yml
  docs/_layouts/default.html
  docs/_layouts/home.html
  docs/_layouts/page.html
  docs/assets/css/main.css
  docs/index.md
  docs/installation.md
  docs/serve-local.sh
  docs/usage.md
Due: none

Fix documentation theme not loading
  docs/Gemfile
  docs/_layouts/default.html
  docs/index.md
Due: none

Update Gemfile.lock after removing minima theme
  docs/Gemfile.lock
Due: none

Set theme to null to force custom layouts
  docs/_config.yml
Due: none

Force homepage rebuild with permalink
  docs/index.md
Due: none

Fix broken CSS link in layout
  docs/_layouts/default.html
Due: none

Add support for Ubuntu and Red Hat installations
  .github/workflows/package.yml
  README.md
  docs/installation.md
  packaging/debian/control
  packaging/rpm/auto-uv-env.spec
  scripts/install.sh
Due: none

Fix severe performance issue - 149ms shell startup delay
  share/auto-uv-env/auto-uv-env.bash
  share/auto-uv-env/auto-uv-env.fish
  share/auto-uv-env/auto-uv-env.zsh
Due: validate-shell-integrations, validate-fish-syntax, security-patterns

Revert "Fix severe performance issue - 149ms shell startup delay"
  share/auto-uv-env/auto-uv-env.bash
  share/auto-uv-env/auto-uv-env.fish
  share/auto-uv-env/auto-uv-env.zsh
Due: validate-shell-integrations, validate-fish-syntax, security-patterns

perf: Add proper fast-path optimization for non-Python directories
  share/auto-uv-env/auto-uv-env.bash
  share/auto-uv-env/auto-uv-env.fish
  share/auto-uv-env/auto-uv-env.zsh
Due: validate-shell-integrations, validate-fish-syntax, security-patterns

feat: Add comprehensive Linux distribution support and documentation updates
  README.md
  docs/index.md
  docs/installation.md
  docs/usage.md
  scripts/build-deb.sh
  scripts/build-rpm.sh
  scripts/install.sh
Due: none

feat: Implement streamlined installer based on UV's approach
  .github/workflows/test-installer.yml
  README.md
  docs/index.md
  docs/install.sh
  docs/installation.md
  docs/uninstall.sh
  packaging/debian/control
  packaging/rpm/auto-uv-env.spec
  scripts/legacy/build-deb.sh
  scripts/legacy/build-rpm.sh
  scripts/legacy/install-universal.sh
Due: none

chore: Remove legacy installation scripts
  scripts/legacy/build-deb.sh
  scripts/legacy/build-rpm.sh
  scripts/legacy/install-universal.sh
Due: none

fix: Fix CI test failures for installer
  .github/workflows/test-installer.yml
  CHANGELOG.md
  docs/install.sh
Due: version-consistency

fix: Redirect installer output to stderr to prevent capture
  docs/install.sh
Due: none

fix: Handle missing .bashrc in CI environments
  .github/workflows/test-installer.yml
  docs/install.sh
Due: none

fix: Capture stderr in Homebrew detection test
  .github/workflows/test-installer.yml
Due: none

fix: Ensure proper output ordering in installer
  .github/workflows/test-installer.yml
  docs/install.sh
Due: none

Release v1.0.5
  CHANGELOG.md
  auto-uv-env
  pyproject.toml
Due: check-todos, security-patterns, version-consistency

perf: Major performance optimization for shell startup
  share/auto-uv-env/auto-uv-env.bash
  share/auto-uv-env/auto-uv-env.fish
  share/auto-uv-env/auto-uv-env.zsh
Due: validate-shell-integrations, validate-fish-syntax, security-patterns

docs: Update CHANGELOG.md to reflect actual release changes - Remove mentions of features that were never in a released version - Focus on actual changes between v1.0.4 and v1.0.5
  CHANGELOG.md
Due: version-consistency

perf: Skip Python version check in quiet mode
  share/auto-uv-env/auto-uv-env.bash
Due: validate-shell-integrations, security-patterns

docs: Add CHANGELOG entry for v1.0.6
  CHANGELOG.md
Due: version-consistency

Release v1.0.6
  auto-uv-env
  pyproject.toml
Due: check-todos, security-patterns, version-consistency

docs: Update README with realistic performance metrics
  README.md
Due: none

docs: Update documentation with realistic performance metrics
  docs/index.md
  docs/usage.md
Due: none

Path conditions:
  check-todos: any of: ^auto-uv-env$
  validate-shell-integrations: any of: ^share/auto-uv-env/.*\.(bash|zsh)$
  validate-fish-syntax: any of: ^share/auto-uv-env/.*\.fish$
  security-patterns: any of: ^(auto-uv-env|share/auto-uv-env/.*)$
  version-consistency: any of: ^(auto-uv-env|CHANGELOG.md|pyproject.toml|homebrew/auto-uv-env.rb)$
