Repository ashwch/auto-uv-env: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, validate-shell-integrations, validate-fish-syntax, security-patterns, version-consistency

.pre-commit-config.yaml:

# Pre-commit hooks for auto-uv-env
# Install with: pip install pre-commit && pre-commit install

repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^.*\.(md|txt)$'
      - id: end-of-file-fixer
        exclude: '^.*\.(md|txt)$'
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Shell script linting with shellcheck
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [
          '--severity=error',
          '--shell=bash',
          '--external-sources',
          '--check-sourced',
          '-e', 'SC1091',
        ]
        files: '\.(sh|bash)$|^auto-uv-env$'
        exclude: '^\.git/|share/auto-uv-env/auto-uv-env\.zsh$'

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '^\.git/|^test/.*\.sh$'

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      # Run our test suite
      - id: run-tests
        name: Run auto-uv-env tests
        entry: ./test/test.sh
        language: script
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      # Check for TODO/FIXME comments in main script
      - id: check-todos
        name: Check for unresolved TODOs
        entry: bash -c 'if grep -n "TODO\|FIXME\|HACK" auto-uv-env; then echo "Please resolve TODOs before committing"; exit 1; fi'
        language: system
        files: '^auto-uv-env$'
        pass_filenames: false

      # Validate shell integration syntax
      - id: validate-shell-integrations
        name: Validate shell integration syntax
        entry: bash -c 'for file in share/auto-uv-env/*.{bash,zsh}; do bash -n "$file" || exit 1; done'
        language: system
        files: '^share/auto-uv-env/.*\.(bash|zsh)$'
        pass_filenames: false

      # Check Fish shell syntax
      - id: validate-fish-syntax
        name: Validate Fish shell syntax
        entry: bash -c 'if command -v fish >/dev/null; then fish -n share/auto-uv-env/auto-uv-env.fish; else echo "Fish not available, skipping syntax check"; fi'
        language: system
        files: '^share/auto-uv-env/.*\.fish$'
        pass_filenames: false

      # Security check for dangerous patterns
      - id: security-patterns
        name: Check for dangerous security patterns
        entry: bash -c 'if grep -n "eval.*\$[^_]" auto-uv-env share/auto-uv-env/*; then echo "Dangerous eval pattern found"; exit 1; fi'
        language: system
        files: '^(auto-uv-env|share/auto-uv-env/.*)$'
        pass_filenames: false

      # Validate version consistency across all files
      - id: version-consistency
        name: Check version consistency across all files
        entry: ./scripts/check-version-consistency.sh
        language: script
        files: '^(auto-uv-env|CHANGELOG.md|pyproject.toml|homebrew/auto-uv-env.rb)$'
        pass_filenames: false

feat: Major performance optimizations for v1.0.7
  CHANGELOG.md
  README.md
  auto-uv-env
  docs/index.md
  docs/usage.md
  pyproject.toml
  share/auto-uv-env/auto-uv-env.bash
  share/auto-uv-env/auto-uv-env.fish
  share/auto-uv-env/auto-uv-env.zsh
Due: check-todos, validate-shell-integrations, validate-fish-syntax, security-patterns, version-consistency

fix: Address shellcheck warnings
  auto-uv-env
Due: check-todos, security-patterns, version-consistency

Fix: Address shellcheck warnings across codebase
  docs/install.sh
  docs/uninstall.sh
  share/auto-uv-env/auto-uv-env.bash
  test/test-security.sh
  test/test-shell-integrations.sh
  test/test.sh
Due: validate-shell-integrations, security-patterns

Fix: Correct syntax error in installer script
  docs/install.sh
Due: none

Fix: Correct variable declarations in installer scripts
  docs/install.sh
  docs/uninstall.sh
Due: none

Fix: Update installer to download from GitHub releases
  docs/install.sh
Due: none

Fix: Add test mode to installer for CI testing
  .github/workflows/test-installer.yml
  docs/install.sh
Due: none

Fix Python availability check in UV environments
  share/auto-uv-env/auto-uv-env.bash
  share/auto-uv-env/auto-uv-env.fish
  share/auto-uv-env/auto-uv-env.zsh
Due: validate-shell-integrations, validate-fish-syntax, security-patterns

improve: Better messaging when Python is missing
  share/auto-uv-env/auto-uv-env.bash
  share/auto-uv-env/auto-uv-env.fish
  share/auto-uv-env/auto-uv-env.zsh
Due: validate-shell-integrations, validate-fish-syntax, security-patterns

Release v1.0.8
  CHANGELOG.md
  auto-uv-env
  pyproject.toml
Due: check-todos, security-patterns, version-consistency

docs: Update CHANGELOG.md for v1.0.8 release
  CHANGELOG.md
Due: version-consistency

feat: Handle deleted virtual environments gracefully
  share/auto-uv-env/auto-uv-env.bash
  share/auto-uv-env/auto-uv-env.fish
  share/auto-uv-env/auto-uv-env.zsh
Due: validate-shell-integrations, validate-fish-syntax, security-patterns

test: Add comprehensive tests for deleted venv handling
  test/test-deleted-venv.sh
  test/test-shell-integrations.sh
Due: none

docs: Update CHANGELOG.md and pyproject.toml for v1.1.0 release
  CHANGELOG.md
  auto-uv-env
  pyproject.toml
Due: check-todos, security-patterns, version-consistency

fix: Ensure virtual environments are activated after recreation
  share/auto-uv-env/auto-uv-env.bash
  share/auto-uv-env/auto-uv-env.fish
  share/auto-uv-env/auto-uv-env.zsh
  test/test-shell-integrations.sh
Due: validate-shell-integrations, validate-fish-syntax, security-patterns

bump: Update version to 1.1.1 and changelog
  CHANGELOG.md
  auto-uv-env
  pyproject.toml
Due: check-todos, security-patterns, version-consistency

Fix project-tree matching, harden adapters, and simplify docs
  AGENTS.md
  CLAUDE.md
  README.md
  auto-uv-env
  docs/usage.md
  pyproject.toml
  share/auto-uv-env/auto-uv-env.bash
  share/auto-uv-env/auto-uv-env.fish
  share/auto-uv-env/auto-uv-env.zsh
  test/test-deleted-venv.sh
  test/test-security.sh
  test/test-shell-integrations.sh
  test/test.sh
Due: check-todos, validate-shell-integrations, validate-fish-syntax, security-patterns, version-consistency

Release v1.1.2
  CHANGELOG.md
  auto-uv-env
  pyproject.toml
Due: check-todos, security-patterns, version-consistency

docs: align pages and contributor release guidance
  AGENTS.md
  CONTRIBUTE.md
  README.md
  RELEASE.md
  docs/_layouts/default.html
  docs/contributing.md
  docs/index.md
  docs/installation.md
  docs/usage.md
  scripts/README.md
Due: none

docs: add alternatives decision guide for tool selection
  README.md
  docs/_layouts/default.html
  docs/alternatives.md
  docs/index.md
Due: none

Release v1.1.3
  CHANGELOG.md
  auto-uv-env
  pyproject.toml
Due: check-todos, security-patterns, version-consistency

docs: improve alternatives readability and simplify top nav
  README.md
  docs/_layouts/default.html
  docs/alternatives.md
  docs/assets/css/main.css
  scripts/release.sh
Due: none

Fix shell hook re-entry and explicit venv creation paths
  AGENTS.md
  README.md
  RELEASE.md
  docs/usage.md
  share/auto-uv-env/auto-uv-env.bash
  share/auto-uv-env/auto-uv-env.fish
  share/auto-uv-env/auto-uv-env.zsh
  test/test-shell-integrations.sh
Due: validate-shell-integrations, validate-fish-syntax, security-patterns

Expand re-entry regression coverage across shell adapters
  test/test-shell-integrations.sh
Due: none

Stabilize recursive hook regression tests
  test/test-shell-integrations.sh
Due: none

Clarify zsh pid comment and nested-dir troubleshooting
  docs/usage.md
  share/auto-uv-env/auto-uv-env.zsh
Due: validate-shell-integrations, security-patterns

Fix fish re-entry guard and regression test
  share/auto-uv-env/auto-uv-env.fish
  test/test-shell-integrations.sh
Due: validate-fish-syntax, security-patterns

Fix installer temp-dir lifecycle cleanup
  .github/workflows/test-installer.yml
  AGENTS.md
  README.md
  docs/install.sh
  docs/installation.md
  test/test-installer.sh
Due: none

Keep installer test summary on failures
  test/test-installer.sh
Due: none

Harden installer temp-dir handling
  docs/install.sh
  test/test-installer.sh
Due: none

Clarify installer cleanup contract
  docs/install.sh
Due: none

Document installer lifecycle and regression test
  docs/install.sh
  docs/installation.md
  test/test-installer.sh
Due: none

Prepare changelog for v1.1.4
  CHANGELOG.md
Due: version-consistency

Release v1.1.4
  auto-uv-env
  pyproject.toml
Due: check-todos, security-patterns, version-consistency

Fix release archive workflow staging
  .github/workflows/release.yml
Due: none

Clarify release archive staging comments
  .github/workflows/release.yml
Due: none

Sanitize tag names in release archive workflow
  .github/workflows/release.yml
Due: none

Pin release archive step to bash
  .github/workflows/release.yml
Due: none

Preserve prompt styling during auto activation
  AGENTS.md
  README.md
  docs/usage.md
  share/auto-uv-env/auto-uv-env.bash
  share/auto-uv-env/auto-uv-env.fish
  share/auto-uv-env/auto-uv-env.zsh
  test/test-shell-integrations.sh
Due: validate-shell-integrations, validate-fish-syntax, security-patterns

Document prompt ownership and add prompt regression coverage
  share/auto-uv-env/auto-uv-env.bash
Due: validate-shell-integrations, security-patterns
